.leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display: block;
}
.leaflet-touch .leaflet-control-layers-toggle {
    width: 44px;
    height: 44px;
    display: none;
}